
.icon-cup:before { content: '\e800'; } /* '' */
.icon-clipboard:before { content: '\e801'; } /* '' */
.icon-beer:before { content: '\e808'; } /* '' */
.icon-beaker:before { content: '\f0c3'; } /* '' */
.icon-pagelines:before { content: '\f18c'; } /* '' */
.icon-user-secret:before { content: '\f21b'; } /* '' */